@media screen and (max-width: 600px) {
  .overlay {
    width: 320px;
    position: relative;
    min-height: calc(99vh - 177px);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
}
