.popup__title {
  color: rgba(26, 27, 34, 1);
  padding: 0;
  margin: 0 0 28px;
  font-weight: 900;
  font-size: 24px;
  line-height: 1.17;
}

.popup__form {
  display: flex;
  flex-direction: column;
}

.popup__submit-btn {
  cursor: pointer;
  border-style: none;
  border-radius: 100px;
  width: 358px;
  height: 64px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.33;
  color: #fff;
  background-color: rgba(47, 113, 229, 1);
  justify-self: center;
  align-self: center;
  padding: 0;
  margin-top: 8px;
}

.popup__submit-btn:hover {
  background-color: #347eff;
}
.popup__submit-btn:active {
  background-color: #2a65cc;
}

.popup__submit-btn:disabled {
  color: rgba(182, 188, 191, 1);
  background-color: rgba(230, 232, 235, 1);
  cursor: default;
}

.popup__input-label {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 1.2;
  color: rgba(47, 113, 229, 1);
}

.popup__input {
  padding: 10px 0;
  border-style: none;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  margin-bottom: 3px;
  font-size: 14px;
  line-height: 1.21;
  font-family: 'Inter', Arial, Helvetica, sans-serif;
}

.popup__input:focus-visible {
  outline-color: transparent;
  outline-width: 0;
}

.popup__error {
  visibility: hidden;
  display: none;
  padding-top: 14.4px;
  display: block;
  color: red;
  font-size: 12px;
  line-height: 1.2;
  max-width: 383px;
  white-space: initial;
  margin: 0 0 13px;
}

.popup__error_visible {
  visibility: visible;
  display: block;
  padding-top: 0;
}

.popup__text {
  font-size: 14px;
  color: #000;
  line-height: 1.21;
  text-align: center;
  margin: 16px 0 0;
}

.popup__link {
  color: rgba(47, 113, 229, 1);
  font-size: 14px;
  line-height: 1.21;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .popup__title {
    font-size: 24px;
    line-height: 1.16;
    margin: 0 0 17px;
  }

  .popup__submit-btn {
    width: 100%;
    min-width: 288px;
    padding: 0 16px;
  }
}
