.article-card::before {
  background-color: #fff;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  z-index: 1;
}

.article-card:hover::before {
  z-index: 0;
  box-shadow: 0px 3px 58px -11px rgba(8, 29, 45, 0.1);
}

.article-card__button-container {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  transition: 1s ease-out opacity;
  flex-direction: row-reverse;
}

.article-card__button-status {
  display: none;
  opacity: 0;
  background-color: #fff;
  margin-right: 5px;
  border-radius: 10px;
  padding: 13px 26px 0;
  transition: 1s ease-out opacity;
}

.article-card__button-status-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.16;
  text-align: center;
  margin: 0;
}

.article-card__save-btn {
  background-image: url(../../images/save-inactive.svg);
  background-position: center;
  border-style: none;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-color: #fff;
  width: 40px;
  height: 40px;
  padding: 0;
}

.article-card__save-btn_active {
  background-image: url(../../images/save-active.svg);
  background-position: center;
}

.article-card__save-btn:hover + .article-card__button-status {
  opacity: 1;
  transition: 1s ease-out opacity;
  display: block;
}

.article-card__img {
  display: block;
  max-width: 100%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.article-card__info {
  padding: 20px 24px 24px;
}

.article-card__date {
  font-family: 'Source Sans Pro';
  font-weight: 400;
  font-size: 18px;
  line-height: 1.33;
  color: rgba(182, 188, 191, 1);
  margin: 0 0 12px;
}

.article-card__title {
  display: inline-block;
  font-family: 'Roboto-Slab';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.15;
  color: rgba(26, 27, 34, 1);
  height: 60px;
  margin: 0 0 12px;
  overflow: hidden;
}

.article-card__text-content {
  font-size: 16px;
  line-height: 1.37;
  color: rgba(26, 27, 34, 1);
  margin: 0;
  height: 110px;
  margin: 0 0 12px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.article-card__source {
  font-family: 'Roboto-Slab';
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(182, 188, 191, 1);
  text-transform: uppercase;
  letter-spacing: 0.4px;
  text-decoration: none;
  margin: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 920px) {
  .article-card__info {
    padding: 16px;
  }

  .article-card__title {
    font-size: 22px;
    line-height: 1.1;
    height: 72px;
  }

  .article-card__text-content {
    font-size: 16px;
    line-height: 1.37;
    max-height: 88px;
  }
}
