.nav {
  display: flex;
  position: relative;
}

.nav__list {
  padding: 0;
  margin: 0;
  margin-block-start: 0;
  list-style: none;
  max-height: 80px;
  display: flex;
}

.nav__list-item {
  padding: 0;
  list-style: none;
  margin: 0 38px 0 0;
  align-self: center;
}

.nav__list-item:last-of-type {
  margin: 0px;
}

.nav__link {
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  color: #fff;
  cursor: pointer;
}

.nav__link_active {
  border-bottom: 3px solid #ffffff;
  padding: 30px 10px 26px;
  max-height: 80px;
}

.nav__button {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.33;
  border: 1px solid #ffffff;
  color: #fff;
  border-radius: 100px;
  padding: 12px;
  width: 172px;
  background-color: transparent;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 920px) {
  .nav__list-item {
    margin-right: 16px;
  }

  .nav__link {
    font-size: 16px;
    line-height: 1.5;
  }

  .nav__link_active {
    padding: 22px 10px 20px;
    max-height: 80px;
  }

  .nav__button {
    font-size: 16px;
    line-height: 1.5;
    padding: 8px 12px;
    width: 152px;
  }
}

@media screen and (max-width: 600px) {
  .nav {
    width: auto;
    align-content: stretch;
  }

  .nav__list {
    flex-direction: column;
    align-content: stretch;
    padding: 16px 0 24px;
    background-color: rgba(26, 27, 34, 1);
    flex: 1;
  }

  .nav__list-item {
    padding: 0 16px;
    align-self: auto;
    display: flex;
  }

  .nav__button {
    margin-top: 22px;
    width: auto;
    flex: 1;
  }

  .nav__link_active {
    border-bottom: none;
    padding: 0;
    max-height: 200px;
  }
}
